@import '~mapbox-gl/dist/mapbox-gl';


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.mapboxgl-popup-content {
  overflow-y: auto;
  max-height: 300px;
  user-select: text;
}
