@import '~mapbox-gl/dist/mapbox-gl';
@import 'foundation';
@import './libs/foundation/_settings';
@import './libs/foundation/app';


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.map {
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidebar-menu {
  padding: 1rem 0.5rem 0;

  .show-table {
    text-align: right;
  }

  textarea {
    height: 200px;
  }
}
