<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  </head>
  <body>
	<input type="text" id="lgis-host">
	<input type="text" id="lgis-db">
	<input type="text" id="lgis-table">
	<input type="button" id="lgis-show-table" value="show table">
    <div id="map"></div>
  </body>
  <script src="./javascripts/lgis.js"></script>
</html>
