<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  </head>
  <body>
	<input type="text" id="lgis-table">
	<input type="button" id="lgis-show-table" value="show table">
    <div id="map"></div>
  </body>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="//mapzen.com/tangram/tangram.min.js"></script>
  <script src="//unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <script src="./javascripts/lgis.js"></script>
</html>
