<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
	 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="https://mapzen.com/tangram/tangram.min.js"></script>
     <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
	 <script src="./javascripts/vendor/dat.gui.min.js"></script>
	 <script src="./javascripts/init.js"></script>
	 <script src="./javascripts/gui.js"></script>
  </head>
  <body onLoad="init()">
    <div id="map"></div>
  </body>
</html>
