<!DOCTYPE html>
<html>
  <head>
    <title>Lgis</title>
    <link rel='stylesheet' href="./stylesheets/lgis.css" />
  </head>
  <body>
    <div id="navbar" class="navbar"></div>
    <script src="./javascripts/lgis.js"></script>
  </body>
</html>
